.img{
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    position: absolute;
    float: left;
}
.imghead{
    text-align: center;
    border-radius: 6px;
    
    
    
    
}